name: Development - Pull Request
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint-format:
    name: Linting and Formatting Checks
    uses: ./.github/workflows/lint-and-format.yml

  build:
    needs: lint-format
    name: Build
    runs-on: ubuntu-latest
    environment: Development
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build Docker container
        run: |
          docker buildx build \
            --secret id=FRONTEND_URL \
            --file=Dockerfile -t cms .
